#bstat-goal {
	border-radius: 4px;
	margin-left: -.5rem;
	margin-right: -.5rem;
	padding: .5rem;

	&.show-goals {
		background: #fff;
		box-shadow: 0 0 3px 0 #bbb;
	}

	label {
		font-size: 1.1rem;
		font-weight: bold;
		margin-right: .25rem;

		span {
			color: #bbb;
		}
	}

	.goal {
		display: inline-block;
		font-size: 1.1rem;
		margin-right: 1rem;
		vertical-align: middle;
	}

	ul {
		display: none;
		margin-left: 2em;
	}

	li {
		list-style-type: disc;
	}
}
